<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rubrica</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Telefono</th>
            <th>Azioni</th>
        </tr>
        <tr th:each="person: ${persons}">
            <td th:text="${person.name}" />
            <td th:text="${person.surname}" />
            <td th:text="${person.phoneNumber}" />
            <td>
                <a th:href="@{/edit(id=${person.id})}"><button>Modifica</button></a>
                <a th:href="@{/delete(id=${person.id})}"><button>Elimina</button></a>
            </td>
        </tr>
    </table>
</body>
</html>