<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rubrica</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
    <style>
        table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
        }
    </style>
</head>
<body>

    <h3 th:text="${message}"/>
    <table style="width:100%">
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Telefono</th>
            <th>Azioni</th>
        </tr>
        <tr th:each="person: ${persons}">
            <td th:text="${person.name}" />
            <td th:text="${person.surname}" />
            <td th:text="${person.phoneNumber}" />
            <td>
                <a th:href="@{/edit(id=${person.id})}"><button class="bluButton">Modifica</button></a>
                <a th:href="@{/delete(id=${person.id})}"><button class="bluButton">Elimina</button></a>
            </td>
        </tr>
    </table>
    <div id="bottom">
        <a th:href="@{/new}"><button class="bluButton" id="largeButton">Nuovo</button></a>
    </div>
</body>
</html>